<div class="container certification">
  <div class="row">
    <div class="col-md-12">
            <h1 class="heading fadeInUp animated">Certifications</h1>
            <p class="description fadeInUp animated">I always like to learn and grow. And explore new
              technologies. One way I do this is by doing certifications. 
              As there is a story: <a href="https://www.linkedin.com/pulse/20140710141233-71424265-sharpen-your-skills-the-story-of-a-woodcutter" target="_blank">
              Sharpen your skills - The story of a woodcutter'</a> which describe how important is to Sharpen
              our skills.
            </p>
    </div>
  </div>
  <div class="padder"></div>
<div class="line"></div>
<div class="padder"></div>

  <div class="row">
    <div class="col-md-4">
      <img src="./assets/microsoft.png" alt="Microsoft 70-461" class="microsoft-logo fadeInLeft animated" align="middle"/>
            <h1 class="subHeading fadeInUp animated">70-461 - Querying Microsoft SQL Server 2012</h1>
    </div>

<div class="col-md-4">
      <img src="./assets/CEH.png" alt="CEH Logo" class="image fadeInLeft animated"/>
            <h1 class="subHeading fadeInUp animated">CEH - Certified Ethical Hacker</h1>
    </div>

    <div class="col-md-4">
      <img src="./assets/microsoft.png" alt="Microsoft 70-762" class="microsoft-logo fadeInLeft animated" align="middle"/>
            <h1 class="subHeading fadeInUp animated">70-462 - Administering Microsoft SQL Server 2012 Databases</h1>
    </div>

    <div class="col-md-4">
      <img src="./assets/java.png" alt="Java" class="image fadeInLeft animated" align="middle"/>
            <h1 class="subHeading fadeInUp animated">Programming in Java</h1>
    </div>
</div>

<div class="line"></div>
<div class="padder"></div>

  <div class="row">
    <div class="col-md-4">
        <img src="./assets/edx.png" alt="CEH Logo" class="image fadeInLeft animated"/>
    </div>
    <div class="col-md-8">
        <ul>
          <li *ngFor="let certification of edx">
              <p class="subHeading fadeInUp animated removeMargin">{{certification.name}}</p>
              <p class="description fadeInUp animated">By {{certification.owner}}</p>
          </li>
        </ul>
    </div>
  </div>

<div class="line"></div>
<div class="padder"></div>

  <div class="row">
    <div class="col-md-8">
        <ul>
          <li *ngFor="let certification of coursera">
              <p class="subHeading fadeInUp animated removeMargin">{{certification.name}}</p>
              <p class="description fadeInUp animated">{{certification.topics}}</p>
          </li>
        </ul>
    </div>

    <div class="col-md-4">
        <img src="./assets/coursera.png" alt="CEH Logo" class="image fadeInLeft animated"/>
    </div>
  </div>


  <div class="line"></div>
<div class="padder"></div>

  <div class="row">
    <div class="col-md-4">
        <img src="./assets/pluralsight.png" alt="CEH Logo" class="image fadeInLeft animated"/>
    </div>
    <div class="col-md-8">
        <ul>
          <li *ngFor="let certification of pluralsight">
              <p class="subHeading fadeInUp animated">{{certification.name}}</p>
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="padder"></div>