<div class="container contact">
  <div class="row">
    <div class="col-md-12">
        <h1 class="heading fadeInUp animated">Get in touch</h1>
            <p class="description fadeInUp animated"> I am very social person and you can get in touch with me on details shared
              below:
            </p>
    </div>
  </div>

<div class="padder"></div>

<div class="row">
  <div class="col-md-6">
     <div class="col-md-12 details fadeInLeft animated">
       <div class="col-md-2"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></div>
        <a href="https://www.facebook.com/tavish.aggarwal" target="_blank">
        <div class="col-md-10 social"><span class="subHeading">tavish.aggarwal</span></div>
        </a>
     </div>
     <div class="col-md-12 details fadeInLeft animated">
        <div class="col-md-2"><i class="fa fa-github fa-4x" aria-hidden="true"></i> </div>
      <a href="https://github.com/tavishaggarwal" target="_blank">
      <div class="col-md-10 social"><span class="subHeading">tavishaggarwal</span></div>
      </a>
     </div>
     <div class="col-md-12 details fadeInLeft animated">
      <div class="col-md-2"><i class="fa fa-linkedin fa-4x" aria-hidden="true"></i> </div>
      <a href="https://www.linkedin.com/in/tavishaggarwal/" target="_blank">
      <div class="col-md-10 social"><span class="subHeading">tavishaggarwal</span></div>
      </a>
     </div>
      <div class="col-md-12 details fadeInLeft animated">
      <div class="col-md-2"><i class="fa fa-address-card-o fa-4x" aria-hidden="true"></i> </div>
      <div class="col-md-10 social"><span class="subHeading">Hitech City, Hyderabad</span></div>
    </div>
  </div>

  <div class="col-md-6">
    <img src="./assets/person.png" alt="person" class="person fadeInLeft animated img-responsive"/>
  </div>
</div>
</div>