<!--The whole content below can be removed with the new code.-->
<header> 
        <div id="toggle" class="js-toggle to-animate-single fadeInUp animated">
          <a [routerLink] ="['/Home']">
            <span (click)= "toggle()"><img src="assets/visit.svg" class="visitLink"></span>
          </a>
        </div>
    <nav class="navbar navbar-expand-sm navbar-default navbar-light header hide" id="menu">
            <!-- <div class="container-fluid"> -->
              <!-- Brand and toggle get grouped for better mobile display -->
              <!-- <div  class="navbar-header"> -->
                  <button class="navbar-toggler navigationToggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <button type="button" class="navbar-toggle collapsed" > -->
                    <span class="navbar-toggler-icon"></span>
                </button>
              <!-- </div> -->
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navigation" id="bs-example-navbar-collapse-1" >
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item" (click) = "adjustWidth()"><a [routerLink] ="['/']">Home</a></li>
                        <li class="nav-item"><a [routerLink] ="['/About']">About</a></li>
                        <li class="nav-item" (click) = "adjustWidth()"><a [routerLink] ="['/Certification']">Certification</a></li>
                        <li class="nav-item" (click) = "adjustWidth()"><a [routerLink] ="['/Journey']">Journey</a></li>
                        <li class="nav-item" (click) = "adjustWidth()"><a href="http://techladder.in/" target= "_blank">Blogs</a></li>
                        <li class="nav-item" (click) = "adjustWidth()"><a [routerLink] ="['/Contact']">Contact Me</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            <!-- </div>/.container-fluid -->
          </nav>
</header>

<div class="body">
    <router-outlet></router-outlet>
</div>
