<!--The whole content below can be removed with the new code.-->
<header> 
<div id="toggle" class="js-toggle to-animate-single fadeInUp animated">
        <a href="/Home#bodyWrapper">
          <span (click)= "toggle()" class="glyphicon glyphicon-unchecked"></span>
        </a>
      </div>
    <span id="header" class="menu hide">
        <ul>
            <li (click) = "adjustWidth()"><a [routerLink] ="['/']">Home</a></li>
            <li><a [routerLink] ="['/About']">About</a></li>
            <li (click) = "adjustWidth()"><a [routerLink] ="['/']">Featured</a></li>
            <li (click) = "adjustWidth()"><a [routerLink] ="['/']">Portfolio</a></li>
            <li (click) = "adjustWidth()"><a [routerLink] ="['/']">Blogs</a></li>
            <li (click) = "adjustWidth()"><a [routerLink] ="['/']">Contacts</a></li>
        </ul>
    </span>
</header>

<div class="body">
    <router-outlet></router-outlet>
</div>
