.menu {
ul {
        position: absolute;
    top: 11px;
    right: 0;
}
    ul li {
        display: inline-block;
        font-size: 18px;
        padding: 0 24px 0 24px;
    }
}
.menu {
    a:link { 
        color: #fff;
        text-decoration: none;
    } 

    a:visited { 
        color: #fff;
        text-decoration: none;
    } 
}

#toggle {
    position: absolute;
    left: 31%;
    right: 0;
    z-index: 8;
    top: 38px;
    padding-left: 16px;
    a .glyphicon {
        color: #fff;
        z-index: 6;
    }
}

.header {
    position: absolute;
    right:0;
    width: 100%;
    z-index: 3;
    height: 92px;
    background: #0099CC;
    opacity: 0.9;
}

.body {
    padding-top: 98px;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    .icon-bar {
        background: #fff;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
}
div#bs-example-navbar-collapse-1  {
    background: #0099CC;
} 

@media (max-width: 768px) {
.navigation {
    top: 91px;
}
}

.navbar {
    border: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0099CC;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #0099CC;
}
#menu .container-fluid {
    top:30px;
    right: 10px;
    position: absolute;
}
.visitLink {
    height: 30px;
}

.navigation {
    right: 0;
    position: absolute;
    ul {
        margin-left: 10px;
    }
    li {
        margin-right: 20px;
    }
}

.navigationToggle {
    position: absolute;
    right: 21px;
}