<div id="bodyWrapper" >
    <div class="portfolio" id="portfolio" >
      <div class="intro">
        <div class="row">
          <div class="col-md-12">
              <h1>
                  <span class="fadeInUp animated">Tavish Aggarwal</span> 
                  <span class="fadeInUp animated" class="mobileHide">Front End Developer</span> <br />
                  <span class="fadeInUp animated" class="mobileHide">Software Engineer at GGK Tech</span> 
                </h1>
          </div>
        </div>
      </div>
    </div>
</div>