.about {
    color:rgb(102, 102, 102);
    .heading {
        font-size: 7rem;
        
    }

    .subHeading {
        font-size: 2.6rem;
        color:rgb(102, 102, 102);
    }
    .description {
        font-size:18px;
        li {
            padding-bottom: 15px;
        }
    }
    .image {
        width: 550px;
        float: right;
    }
    .image-align {
        justify-content: center;
        display: inline-grid;
    }
    ul li {
        list-style: none;
    }
}

.line {
    border-top: #dddddd 1px solid;
    margin-top: 10px;
}

.thumbnail-img {
     width: 45px;
     margin: 10px 10px 21px 0;
}

.skillAlign {
    float: left;
    margin-right: 25px;
    
}

.textAlign {
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .technicalSkills {
      display: flex;
      flex-direction: column-reverse;
    }

    .aboutMe {
        display: flex;
        flex-direction: column-reverse;
      }
  }