<div class="container journey">
  <div class="row">
    <div class="col-md-12">
            <h1 class="heading fadeInUp animated">My Journey</h1>
            <p class="description fadeInUp animated"> Below are few of the milestones that I have reached till date.</p>
    </div>
  </div>
  <div class="line"></div>
  <div class="padder"></div>

  <div class="row">
    <div class="col-md-12">
            <h1 class="heading fadeInUp animated">Professional Experience</h1>
    </div>
  </div>
  <div class="line"></div>
  <div class="padder"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="timeline">
        <span *ngFor="let achievement of profesionalAchievements">
            <div class="timelineContainer animated" [ngClass] = (achievement.position)>
                <div class="content">
                  <span *ngIf= "achievement.imageSrc">
                    <img [src]= (achievement.imageSrc) [ngClass] = (achievement.imageRight)/>
                  </span>
                  <h2>{{achievement.title}}</h2>
                  <p>{{achievement.description}}</p>
                </div>
            </div>
        </span>
      </div>
    </div>
  </div>

  <div class="padder"></div>
  <div class="padder"></div>
  
  <div class="row">
    <div class="col-md-12">
            <h1 class="heading fadeInUp animated">Education</h1>
    </div>
  </div>
  <div class="line"></div>
  <div class="padder"></div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="timeline">
        <span *ngFor="let achievement of educationAchievements">
            <div class="timelineContainer animated" [ngClass] = (achievement.position)>
                <div class="content">
                  <span *ngIf= "achievement.imageSrc">
                    <img [src]= (achievement.imageSrc) [ngClass] = (achievement.imageRight)/>
                  </span>
                  <h2>{{achievement.title}}</h2>
                  <p>{{achievement.description}}</p>
                </div>
            </div>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="padder"></div>